data/clinvar.vcf.gz
data/clinvar.vcf.gz.tbi
data/clinvar_renamed_fixed.vcf.gz
data/clinvar_renamed_fixed.vcf.gz.tbi
data/chrom_split
data/hg38v34.*
data/cas_guides_input_*
data/curated_guides_w_PAM.fasta
data/hg38v34_split/*
genome_library/
out_dir/
soft/
.snakemake/
Project.toml
Manifest.toml

